//(通用) 主題色
$color_1: #c3a364; //主 改
$color_2: #fae7e8 ; //主要 2
$color_3: #bdbdbd; //輔助色3

$color_4: #f2c2c4; //深粉紅
$color_5: #c3a364; //輔助 改
$color_6: #C3A364; //改
$color_7: #0e3043; // tab顏色

$color_8:#F7D8DA; //color_4 X 0.4

$color_dark: #262626; //
$white: #fff;

$font_color_dark:rgba(0, 0, 0, 0.75);

$line_color: rgba(0, 0, 0, 0.1);
